body{
    font-family:cursive;
    background: yellow;

}
   h1{
    background: lightblue;
    color:red; 
}
h2{
    background: brown;
    color: pink;
}
.col{
    background: black;
    color:pink;
}
